<!doctype html>
<html>
    <head>
        <base href="/">
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=EDGE">
        <title><%= htmlWebpackPlugin.options.title || 'Webpack App'%></title>

        <% if (htmlWebpackPlugin.files.favicon) { %>
        <link rel="shortcut icon" href="<%= htmlWebpackPlugin.files.favicon %>">
        <% } %>
        <% if (htmlWebpackPlugin.options.mobile) { %>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <% } %>

        <% for (var css in htmlWebpackPlugin.files.css) { %>
        <link href="<%= htmlWebpackPlugin.files.css[css] %>" rel="stylesheet">
        <% } %>

    </head>
    <body>
      <% if (htmlWebpackPlugin.options.unsupportedBrowser) { %>
          <div id='noscript'>
              <div class="message" id="javascript-disabled">
                  <div class="page-wrapper">
                      <h2 class="title">Warning! JavaScript required.</h2>
                      <p>To use this website you need to have JavaScript enabled. Without these features parts of the site may not function correctly.</p>
                  </div>
              </div>
          </div>
          <script>document.getElementById('noscript').style.display='none';</script>
          <!--[if lt IE 9]>
          <div class="message" id="unsupported-browser">
              <div class="page-wrapper">
                  <h2 class="title">Warning! Unsupported browser.</h2>
                  <p>We have detected that you are using an unsupported browser, we cannot guarantee that this website will look and function as intended on your browser. <a href="https://www.google.com/search?q=web+browser">Upgrade your browser now</a>.</p>
              </div>
          </div>
          <![endif]-->
      <% } %>
      <ui-view></ui-view>
      </body>
</html>
