.main-content {
  label {
    display: block;
  }
  .inputContainer {
    margin: 20px;
    input {
      border: 1px solid blue;
      padding: 5px;
      border-radius: 4px;
    }
  }
}

.parse-parcel {
  font-size: 2rem;
  margin: 20px;
}
