<h1>{{title.name}}</h1>
<span>
  <div class="main-content">
    <div class="inputContainer">
        <label for="length">Length</label>
        <input type="number" name="length" ng-model="dimensions.length" />
    </div>
    <div class="inputContainer">
        <label for="breadth">Breadth</label>
        <input type="number" name="breadth" ng-model="dimensions.breadth" />
    </div>
    <div class="inputContainer">
        <label for="height">Height</label>
        <input type="number" name="height" ng-model="dimensions.height" />
    </div>
    <div class="inputContainer">
        <label for="length">Weight</label>
        <input type="number" name="weight" ng-model="dimensions.weight" />
    </div>
    <div class="inputContainer">
        <label for="length">Rotatable</label>
        <input type="checkbox" name="rotatable" ng-model="rotatable" />
    </div>
    <parse-parcel class="parse-parcel" dimensions="dimensions" Rotatable="rotatable" />
  </div>
</span>
